RewriteEngine On

RewriteBase /

# this is required
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !imageResize
RewriteRule ^(.*) index.php [L]
